{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LOSIK Shoes and Clean</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/losik.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script></head>

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <img src="{% static 'img/losik.png' %}" alt="">
        <span class="d-none d-lg-block">LOSIK SHOES</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

      

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

      

        <li class="nav-item dropdown pe-3">
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="{% static 'img/losik.png' %}" alt="Profile" class="rounded-circle">
                <span class="d-none d-md-block dropdown-toggle ps-2">{{user.username}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
    
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'performlogout' %}">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Sign Out</span>
                    </a>
                </li>
            </ul>
        </li>
      

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link " href="{% url 'home' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
<!-- data master start disini -->
      <!-- <li class="nav-heading">Data Master <a href="youtube.com"></a></li> -->
      <li class="nav-heading">
          Data Master
      </li>
<!-- perawatan sidebar -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Perawatan</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'perawatan' %}">
              <i class="bi bi-circle"></i><span>Data Perawatan</span>
            </a>
          </li>
          <li>
            <a href="{% url 'createperawatan' %}">
              <i class="bi bi-circle"></i><span>Tambah Perawatan</span>
            </a>
          </li>
          
        </ul>
      </li>
      <!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#pelanggan-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people-fill"></i><span>Pelanggan</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="pelanggan-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'pelanggan' %}">
              <i class="bi bi-circle"></i><span>Data Pelanggan</span>
            </a>
          </li>
          <li>
            <a href="{% url 'createpelanggan' %}">
              <i class="bi bi-circle"></i><span>Tambah Pelanggan</span>
            </a>
          </li>
          
        </ul>
      </li>
      <!-- End Icons Nav -->

      <li class="nav-heading">Transaksi</li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#transaksi-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-minecart"></i><span>Transaksi</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="transaksi-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'transaksi' %}">
              <i class="bi bi-circle"></i><span>Data Transaksi</span>
            </a>
          </li>
          <li>
            <a href="{% url 'createtransaksi' %}">
              <i class="bi bi-circle"></i><span>Tambah Transaksi</span>
            </a>
          </li>
          
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#dettransaksi-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Detail Transaksi</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="dettransaksi-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'detailtransaksi' %}">
              <i class="bi bi-circle"></i><span>Data Detail Transaksi</span>
            </a>
          </li>
          <li>
            <a href="{% url 'createdetailtransaksi' %}">
              <i class="bi bi-circle"></i><span>Tambah Detail Transaksi</span>
            </a>
          </li>
          
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#pembayaran-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-coin"></i><span>Pembayaran</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="pembayaran-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'pembayaran' %}">
              <i class="bi bi-circle"></i><span>Data Pembayaran</span>
            </a>
          </li>
          <li>
            <a href="{% url 'createpembayaran' %}">
              <i class="bi bi-circle"></i><span>Tambah Pembayaran</span>
            </a>
          </li>
          
        </ul>
      </li>
      {% if is_owner %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#laporan-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-graph-up"></i><span>Laporan</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="laporan-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'laporanpendapatanbulanan' %}">
              <i class="bi bi-circle"></i><span>Laporan Pendapatan</span>
            </a>
          </li>
          <li>
            <a href="{% url 'laporan_perawatan_terlaris' %}">
              <i class="bi bi-circle"></i><span>Perawatan Terlaris</span>
            </a>
          </li>
        </ul>
      </li>
      {% endif %}
      

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <div class="pagetitle">
      <h1 style="display: inline-block;">Dashboard</h1>
      
      <a href="{% url 'createtransaksi' %}">
      <button class="btn btn-secondary" style="float: right; margin-right: 10px;">Tambah Transaksi</button>
      </a>

      <a href="{% url 'createpelanggan' %}">
        <button class="btn btn-primary" style="float: right; margin-right: 10px;">Daftarkan Pelanggan</button>
        </a>
      <nav style="clear: both;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
    
    
    
    
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-xxl-12">
          <div class="row">
            <div class="col-xxl-16 col-md-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Total Pendapatan</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>Rp. {{ total_pendapatan }}</h6> <!-- Menampilkan total pendapatan bulanan -->
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            

            <!-- Revenue Card -->
            <div class="col-xxl-16 col-md-4">
              <div class="card info-card revenue-card">  
                <div class="card-body">
                  <h5 class="card-title">Total Transaksi </h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ jumlah_data_transaksi }} Transaksi</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-16 col-xl-4">
              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Total Pelanggan <span></h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ jumlah_data_pelanggan }} Pelanggan</h6>
                    </div>
                  </div>
                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Reports -->
            
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                
                <div class="card-body">
                  <h5 class="card-title">Total Transaksi</h5>
                
                  <!-- Table with your data -->
                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Nomor Nota</th>
                        <th scope="col">Nama Pelanggan</th>
                        <th scope="col">Status</th>
                        <th scope="col">Metode Pembayaran</th>
                        <th scope="col">Jenis Perawatan</th>
                        <th scope="col">Deskripsi Sepatu</th>
                        <th scope="col">Tanggal Transaksi</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in combined_data %}
                      <tr>
                          <td>{{ item.nomor_nota }}</td>
                          <td>{{ item.nama_pelanggan }}</td>
                          <td>
                              {% if item.status == "Lunas" %}
                                  Lunas
                              {% else %}
                                  Belum Lunas
                              {% endif %}
                          </td>
                          <td>
                              {% if item.status == "Lunas" %}
                                  {% if item.metode_pembayaran %}
                                      Tunai
                                  {% else %}
                                      Non Tunai
                                  {% endif %}
                              {% else %}
                                  --
                              {% endif %}
                          </td>
                          <td>{{ item.jenis_perawatan }}</td>
                          <td>{{ item.deskripsi_sepatu }}</td>
                          <td>{{ item.tanggal_transaksi }}</td>
                          <td>
                              {% if item.status == "Lunas" %}
                                  {{ item.total_transaction|floatformat:0 }}
                              {% else %}
                                  --
                              {% endif %}
                          </td>
                          
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  
                  <!-- End Table with your data -->
                </div>
                

              </div>
            </div><!-- End Recent Sales -->

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

          
                <div class="card-body pb-0">
                  <h5 class="card-title">Perawatan Terlaris</h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Jenis Perawatan</th>
                        <th scope="col">Jumlah Perawatan</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in perawatan_terlaris %}
                          <tr>
                              <td>{{ item.jenis_perawatan }}</td>
                              <td>{{ item.terlaris_count }}</td>
                          </tr>
                      {% endfor %}
                  </tbody>
                  </table>
                  
                  <div class="chart-area">
                    <canvas id="myBarChart"></canvas>
                </div>
                    <hr>
                    <script>
                      // Mengambil data dari tabel HTML
                      var tableData = [];
                      var tableRows = document.querySelectorAll(".card.top-selling .table tbody tr");
                      tableRows.forEach(function(row, index) {
                          var jenisPerawatan = row.querySelector("td:first-child").textContent;
                          var jumlahPerawatan = parseInt(row.querySelector("td:nth-child(2)").textContent);
                    
                          // Menentukan warna berdasarkan indeks
                          var backgroundColors = [
                              "rgb(9, 28, 87)",
                              "rgb(40, 62, 102)",
                              "rgb(78, 111, 135)",
                              "rgb(123, 156, 169)",
                              "rgb(174, 194, 198)",
                              "rgb(80, 133, 188)",
                              "rgb(128, 166, 206)",
                              // Tambahkan warna lainnya sesuai kebutuhan
                          ];
                    
                          // Mengatur warna sesuai dengan indeks
                          var backgroundColor = backgroundColors[index % backgroundColors.length];
                    
                          tableData.push({ jenis_perawatan: jenisPerawatan, terlaris_count: jumlahPerawatan, backgroundColor: backgroundColor });
                      });
                    
                      // Mendefinisikan data untuk grafik batang
                      var barChartData = {
                          labels: tableData.map(function(data) { return data.jenis_perawatan; }),
                          datasets: [{
                              label: "Jumlah Perawatan",
                              backgroundColor: tableData.map(function(data) { return data.backgroundColor; }),
                              borderColor: "rgba(78, 115, 233, 1)",
                              data: tableData.map(function(data) { return data.terlaris_count; }),
                          }],
                      };
                    
                      // Menggambar grafik batang menggunakan Chart.js
                      var ctx = document.getElementById("myBarChart").getContext("2d");
                      var myBarChart = new Chart(ctx, {
                          type: 'bar',
                          data: barChartData,
                          options: {
                              scales: {
                                  yAxes: [{
                                      ticks: {
                                          beginAtZero: true,
                                      },
                                  }],
                              },
                          },
                      });
                    </script>
                </div>
                
                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          

          

          

          <!-- News & Updates Traffic -->
          <div class="card">
            

            
          </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>


</body>

</html>